body
{
	margin: 0;
	padding: 0;
	background-image: url("../images/bg.jpg");
	background-size:112% auto;
	color: white;
	height: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	z-index: -2;
}

html
{
	height: 100vh;
}

main
{
	height: 100%;
}

.content
{
	height: 100%;
	position: relative;
}

.container
{
	height: 100%;
}

/* Select Scene */
#selectArea
{
	float: center;
	padding-top: 100px;

}

.character
{
	width: 203.33px;
	height: 330px;
	color: white;
	background-color: black;
	padding: 0;
	margin: 10px;
	-webkit-transition: all 0.30s ease-in-out;
  	-moz-transition: all 0.30s ease-in-out;
  	-ms-transition: all 0.30s ease-in-out;
  	-o-transition: all 0.30s ease-in-out;
  	outline: none;
  	border: 1px solid #3E5567;
  	background-image: linear-gradient(to bottom right, #3E5567, #181D23);


}


#c0:hover
{
	box-shadow: 0 0 40px rgba(209, 87, 62, 1);
	border: 1px solid rgba(209, 87, 62, 1);
}

#c1:hover
{
	box-shadow: 0 0 35px rgba(245, 205, 117, 1);
	border: 1px solid rgba(245, 205, 117, 1);
}
#c2:hover
{
	box-shadow: 0 0 35px rgba(102, 187, 6, 1);
	border: 1px solid rgba(102, 187, 6, 1);
}
#c3:hover
{
	box-shadow: 0 0 40px rgba(137, 82, 255, 1);
	border: 1px solid rgba(137, 82, 255, 1);
}


#name
{
	margin-top: 3px;
}

#pointSpan
{
	display: flex;
	justify-content: space-around;
}

.attackPower
{
	position: relative;
	bottom: 4px;
	right: 12px;
	margin-left: 0;

	color: transparent;
	text-shadow: 0 0 0 white;
}

.healthPoint
{
	position: relative;
	left: 15px;
	top: 20px;
	color: transparent;
	text-shadow: 0 0 0 white;

}

#miniImg
{
	width: 30px;
	height: auto;
	margin-top: 0;

}


/* After Selection */


#defenderDiv
{
	position: relative;
	padding: 0;
	width: 203.33px;
	height: 330px;
	margin: 0 auto;

}

#myCharacterDiv
{
	position: relative;
	width: 203.33px;
	padding: 0;
	margin: 0 auto;
	top: 450px;
	clear: both;
}


#enemiesDiv
{
	width: 670px;
	display: flex;
	margin: 0 auto;
	position: absolute;
}


.enemies
{
	justify-content: center;
	float: left;
}


img
{
	width: 100%;
	height: 204.66px;
	margin: 0;
	margin-top: 25px;
}


#attack
{
	position: relative;
	left: 1200px;
	bottom: 200px;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	box-shadow: 0 0 40px rgba(1,36,6, 1);
	border: 1px solid rgba(1,36,6, 1);
	color: transparent;
	text-align: center;
	text-shadow: 0 0 0 white;
	background-repeat: no-repeat;
	background-image: linear-gradient(#3E5567, #181D23);
	background-size: 95%, auto;
	background-position: right bottom;
	z-index: -1;
}



#start
{
	position: fixed;
	left: 1200px;
	top: 700px;
	border-radius: 2%;
	width: 200px;
	height: 40px;
	color: white;
	font-weight: bold;
	background-image: linear-gradient(#00A918, #02560E);
	box-shadow: 0 0 20px rgba(1,36,6, 1);
	border: 1px solid rgba(1, 36, 6, 1);
	letter-spacing: 2px;
	-webkit-transition: all 0.30s ease-in-out;
  	-moz-transition: all 0.30s ease-in-out;
  	-ms-transition: all 0.30s ease-in-out;
  	-o-transition: all 0.30s ease-in-out;

}

#start:hover
{
	box-shadow: 0 0 100px rgba(1,36,6, 1);
	border: 1px solid rgba(1,36,6, 1);
}

#resultDiv
{
	position: absolute;
	bottom: 100px;
	left: 900px;
	font-size: 18px;
	font-family: 'Open Sans Condensed', sans-serif;
}

#resultDiv h3
{
	color: white;
	font-size: 18px;
	font-family: 'Open Sans Condensed', sans-serif;
}

#restart
{
	position: fixed;
	left: 1200px;
	top: 700px;
	border-radius: 2%;
	width: 200px;
	height: 40px;
	color: white;
	font-weight: bold;
	background-image: linear-gradient(#00A918, #02560E);
	box-shadow: 0 0 20px rgba(1,36,6, 1);
	border: 1px solid rgba(1, 36, 6, 1);
	letter-spacing: 2px;
	-webkit-transition: all 0.30s ease-in-out;
  	-moz-transition: all 0.30s ease-in-out;
  	-ms-transition: all 0.30s ease-in-out;
  	-o-transition: all 0.30s ease-in-out;
}
