body
{
	background-image: url("../images/bg1.jpg");
	background-size: 1000px 631.57px;
	background-position: 50% 10%;
	color: white;
}

.character
{
	width: 150px;
	z-index: 20;
	color: white;
	background-color: black;
	float: left;
}

#selectArea
{
	height: 200px;
}

#defenderDiv
{
	position: relative;
	width: 400px;
}

#myCharacterArea
{
	width: 400px;
}


#enemiesDiv
{
	clear: both;
	width: 600px;
}

#enemiesDiv div
{
	float: left;
	width: 150px;
}

#fightSection
{
	display: flex;
	position: relative;
	left: 100px;
}

img
{
	width: 100%;
}

#score0 #score1 #score2 #score3
{
	width: 100%;
	color: white;
	clear: both;
	height: 10%;
}